<main class="main single welcome-page" id="main">
  <div class="main-inner">
    <div style="text-align: center">
      <h1>Welcome to Program With Jayanth</h1>
      <p>
        I'm here to simplify the web with my insights into front-end
        development. Enjoy your reading!
      </p>
    </div>

    <div
      class="navigation-cards"
      style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center"
    >
      <a href="/posts/" class="card">
        <div class="card-content">
          <img src="/images/blog.png" height="50" width="50" />
          <h2>Blogs</h2>
          <p>Explore my latest blogs</p>
        </div>
      </a>
      <a href="/notes/" class="card">
        <div class="card-content">
          <img src="/images/notes.png" height="50" width="50" />
          <h2>Notes</h2>
          <p>Check out my notes on various topics</p>
        </div>
      </a>
      <a href="/assignments/" class="card">
        <div class="card-content">
          <img src="/images/assignment.png" height="50" width="50" />
          <h2>Assignments</h2>
          <p>View assignments and projects</p>
        </div>
      </a>
      <a href="/interviews/" class="card">
        <div class="card-content">
          <img src="/images/interview.png" height="50" width="50" />
          <h2>Interviews</h2>
          <p>Read my interview experiences</p>
        </div>
      </a>
      <a href="/functionalities/" class="card">
        <div class="card-content">
          <img src="/images/interview.png" height="50" width="50" />
          <h2>Functionalities</h2>
          <p>Checkout common functionalities here</p>
        </div>
      </a>
    </div>

    <h2 style="text-align: center; margin-bottom: 5px">Blogs</h2>
    <p style="text-align: center; margin-top: 5px; font-size: 1rem">
      Checkout my latest blogs on Front End Web Development here
    </p>
    {{ $posts := where .Site.RegularPages "Type" "posts" }} {{ $favoritePosts :=
    where $posts "Params.favorite" true }} {{ $otherPosts := where $posts
    "Params.favorite" "!=" true }} {{ $combinedPages := union $favoritePosts
    $otherPosts }} {{ $paginator := .Paginate $combinedPages 12 }}
    <div
      style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center"
    >
      {{ range $paginator.Pages }}
      <article class="content post home h-entry">
        {{ $image := .Params.image }} {{ $title := .Title }} {{ if $image }}
        <img src="{{ $image }}" alt="{{ $title }}" loading="lazy" />
        {{ end }}
        <h2 class="post-title p-name" style="font-size: 1rem">
          <a href="{{ .RelPermalink }}" class="summary-title-link u-url">
            {{ $title }}
          </a>
        </h2>
        <summary class="summary p-summary" style="font-size: 0.9rem">
          {{ .Content | plainify | truncate 160 "..." }}
        </summary>
        {{ if or .Truncated .Params.summary }}
        <div class="read-more-container">
          <a href="{{ .RelPermalink }}" class="read-more-link"
            >{{ i18n "readMore" }} »</a
          >
        </div>
        {{ end }}
      </article>
      {{ end }}
    </div>

    {{ if or $paginator.HasPrev $paginator.HasNext }}
    <ul class="pagination">
      {{ if $paginator.HasPrev }}
      <li class="pagination-prev">
        <a href="{{ $paginator.Prev.URL }}" rel="prev"
          >&lt; {{ i18n "prevPage" }}</a
        >
      </li>
      {{ end }} {{ if $paginator.HasNext }}
      <li class="pagination-next">
        <a href="{{ $paginator.Next.URL }}" rel="next"
          >{{ i18n "nextPage" }} &gt;</a
        >
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</main>
