<div class="new-year-overlay" id="newYearOverlay"></div>
<div class="new-year-container" id="newYearMessage">
  <div class="balloons">
    <div class="balloon">🎉</div>
    <div class="balloon">🎈</div>
    <div class="balloon">🌟</div>
  </div>
  <div class="message">🎆 Happy New Year! 🎆</div>
</div>

<script>
  //   document.addEventListener("DOMContentLoaded", function () {
  //     if (!localStorage.getItem("newYearMessageShown")) {
  //       document.getElementById("newYearMessage").style.display = "block";
  //       localStorage.setItem("newYearMessageShown", "true");
  //     } else {
  //       document.getElementById("newYearMessage").style.display = "none";
  //     }
  //   });
  setTimeout(() => {
    document.getElementById("newYearOverlay").style.display = "none";
    document.getElementById("newYearMessage").style.display = "none";
  }, 5000);
</script>
