[data-small-caps="true"] .post-body h1,
[data-small-caps="true"] .post-body h2,
[data-small-caps="true"] .post-body h3,
[data-small-caps="true"] .post-body h4,
[data-small-caps="true"] .post-body h5,
[data-small-caps="true"] .post-body h6 {
  font-variant: none;
}

.post-title {
  text-align: center;
  font-family: system-ui;
  font-size: 2.1em;
  margin-top: 10px;
}
.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
  font-family: system-ui;
  font-size: 1.3em;
}
.lntable,
.highlight > pre {
  max-height: max-content;
}
.main {
  padding-top: 6em;
}
.post-body {
  margin-top: 3em !important;
}

article.content.post.home {
  margin-top: 5em;
  border: 1px solid #e5e5e5;
  padding: 10px;
  border-radius: 5px;
}

.welcome-page .main-inner {
  width: auto;
}

/* Existing Styles */
article.content.post.home {
  flex: 0 0 calc(22% - 20px); /* 3 items per row */
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
  article.content.post.home {
    flex: 0 0 calc(50% - 20px); /* 2 items per row on smaller screens */
  }
}

@media (max-width: 480px) {
  article.content.post.home {
    flex: 0 0 100%; /* 1 item per row on very small screens */
  }
}

.chroma .c1 {
  color: #007400;
}
#disqus_thread {
  margin: 0 auto;
  display: block;
  width: 36em;
}

@media (max-width: 767px) {
  #disqus_thread {
    margin: 0 auto;
    display: block;
    width: 90%;
  }
  .pagination {
    margin: 0 auto;
    width: 90%;
  }
}

.pagination {
  margin: 0 auto;
  width: 85%;
}
.read-more-container a {
  border: 1px solid #198754; /* Primary color for outline */
  background-color: transparent; /* Transparent background */
  color: #198754; /* Primary color for text */
  padding: 0.375rem 0.75rem; /* Padding similar to Bootstrap buttons */
  border-radius: 0.25rem; /* Border radius for rounded corners */
  font-size: 14px; /* Font size similar to Bootstrap buttons */
  text-align: center; /* Center the text */
  vertical-align: middle; /* Align button text vertically */
  user-select: none; /* Prevent text selection */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Smooth transition for hover effects */
  text-decoration: none; /* Remove underline from links */
}

.read-more-container a:hover {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.pagination a {
  border: 1px solid #0d6efd; /* Primary color for outline */
  background-color: transparent; /* Transparent background */
  color: #0d6efd; /* Primary color for text */
  padding: 0.375rem 0.75rem; /* Padding similar to Bootstrap buttons */
  border-radius: 0.25rem; /* Border radius for rounded corners */
  font-size: 14px; /* Font size similar to Bootstrap buttons */
  text-align: center; /* Center the text */
  vertical-align: middle; /* Align button text vertically */
  user-select: none; /* Prevent text selection */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Smooth transition for hover effects */
  text-decoration: none; /* Remove underline from links */
}
.pagination a:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.main-inner {
  margin: 0 auto;
  display: block;
}

.footer {
  position: relative;
}

.main {
  padding-top: 4em;
  padding-bottom: 3em;
}

.post img {
  margin: 0em auto 1em;
}

article.content.post.home {
  margin-top: 1em;
  margin-bottom: 0;
}

.welcome-page h1 {
  margin-top: 30px;
}

.calendar-date {
  display: block; /* Changed from inline-block to block */
  margin: 10px auto; /* Center the block horizontally */
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  width: 100px;
}

.calendar-date .month {
  display: block;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

.calendar-date .day {
  display: block;
  font-size: 30px;
  color: #007bff;
  font-weight: bold;
  line-height: 1;
}

.calendar-date .year {
  display: block;
  font-size: 16px;
  color: #666;
}

#countdown {
  text-align: center;

  margin-bottom: 20px;
}

.countdown-title {
  font-size: 18px;
  margin-bottom: 15px;
}

#timer {
  display: inline-block;
}

.countdown-part {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.countdown-part.days {
  background-color: #ff5722; /* Reddish for days */
}

.countdown-part.hours {
  background-color: #3f51b5; /* Blue for hours */
}

.countdown-part.minutes {
  background-color: #009688; /* Teal for minutes */
}

.countdown-part.seconds {
  background-color: #ffc107; /* Yellow for seconds */
}

.list-categories .list-posts li {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: border-color 0.3s ease;
  white-space: normal;
}

.list-categories .list-posts li:hover {
  border: 1px solid #198754;
}

.new-year-container {
  position: fixed;
  z-index: 1000;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1000;
  animation: slideUp 7s forwards, fadeInOut 8s infinite;
  display: block; /* Start hidden */
}

.balloons {
  font-size: 3rem;
}

.balloon {
  display: inline-block;
  animation: float 5s ease-in-out infinite;
}

.message {
  font-size: 2rem;
  font-weight: 700;
  color: white; /* Gold color */
}

@keyframes slideUp {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  30% {
    bottom: 50%;
    opacity: 1;
  }
  70% {
    bottom: 50%;
    opacity: 1;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.new-year-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 999;
  display: block;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .new-year-container {
    top: 10%; /* Adjust the position */
    font-size: 1rem; /* Reduce the font size */
  }

  .balloons {
    font-size: 2rem; /* Reduce the size of the balloons */
  }

  .message {
    font-size: 1.5rem; /* Adjust the message font size */
  }
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 48em;
}

.header-inner.list {
  max-width: 48em;
}
.assignments-page .main-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.assignments-header {
  margin-bottom: 30px;
}

.assignments-title {
  font-size: 30px;
  margin-bottom: 0.5em;
}

.assignments-description {
  color: #666;
}

.assignments {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.assignment-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(24.333% - 20px); /* For 3 cards in a row */
  text-align: center;
}

.assignment-card .emoji-icon {
  font-size: 2em;
  display: block;
}

@media (max-width: 768px) {
  .assignments {
    flex-direction: column;
  }

  .assignment-card {
    width: auto; /* Full width on small screens */
  }
}

// interviews

.language-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 6px;
  padding: 20px;
}

.language-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  padding: 20px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.language-card h2 {
  font-size: 20px;
  margin-top: 10px;
}

.language-card p {
  font-size: 16px;
  margin-top: 10px;
}

.language-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.language-card img {
  max-width: 100px;
  margin-bottom: 10px;
  height: 50px;
}

.language-card .view-button {
  display: inline-block;
  padding: 4px 15px;
  background-color: #007bff;
  width: 100px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.language-card .view-button:hover {
  background-color: #0056b3;
}

.interview-questions {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 800px; /* Adjust as needed */
}

.interview-question {
  border: 1px solid #eaeaea;
  padding: 15px 15px 0px;
  margin-bottom: 15px;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
  transition: box-shadow 0.3s ease;
  background-color: #fff;
  font-size: 18px;
  color: #0056b3;
}

.interview-question:hover {
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.interview-question h2 {
  margin-top: 0;
  color: #333;
  font-size: 1.2em;
}

.interview-question p {
  color: #666;
  line-height: 1.5;
  font-size: 15px;
}

.interview-question a {
  text-decoration: none;
  color: #0056b3;
  transition: color 0.3s ease;
}

.interview-question a:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .header-inner{
    display: block;
  }
  .container .open .header-inner {
    flex-direction: column;
    height: 333px;
    justify-content: flex-start;
  }
  
}
