[data-small-caps="true"] .post-body h1,
[data-small-caps="true"] .post-body h2,
[data-small-caps="true"] .post-body h3,
[data-small-caps="true"] .post-body h4,
[data-small-caps="true"] .post-body h5,
[data-small-caps="true"] .post-body h6 {
  font-variant: none;
}

.post-title {
  text-align: center;
  font-family: system-ui;
  font-size: 2.1em;
  margin-top: 10px;
}
.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
  font-family: system-ui;
  font-size: 1.3em;
}
.lntable,
.highlight > pre {
  max-height: max-content;
}
.main {
  padding-top: 6em;
}
.post-body {
  margin-top: 3em !important;
}

article.content.post.home {
  margin-top: 5em;
  border: 1px solid #e5e5e5;
  padding: 10px;
  border-radius: 5px;
}

.welcome-page .main-inner {
  width: auto;
}

/* Existing Styles */
article.content.post.home {
  flex: 0 0 calc(29% - 20px); /* 3 items per row */
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
  article.content.post.home {
    flex: 0 0 calc(50% - 20px); /* 2 items per row on smaller screens */
  }
}

@media (max-width: 480px) {
  article.content.post.home {
    flex: 0 0 100%; /* 1 item per row on very small screens */
  }
}

.chroma .c1 {
  color: #007400;
}

@media (max-width: 738px) {
  #disqus_thread {
    margin: 0 auto;
    display: block;
    width: 90%;
  }
}

.main-inner {
  margin: 0 auto;
  display: block;
}
#disqus_thread {
  margin: 0 auto;
  display: block;
  width: 36em;
}
